:root {
    --green: mediumaquamarine;
    --purple: mediumpurple;
    --dblue: midnightblue;
    --pink: mediumvioletred;

}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: block;
}
img {
    max-width: 100%;
    max-height: 100%;
}

section h2 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 200%;
    padding: 5px;
}
footer {
    border: 2px solid black;
    width: 100%;
    height: 50px;
}
.page-header {
    text-transform: uppercase;
}



.page-header {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-color: white;
    outline: transparent;
    position: fixed;
    z-index: 5;
    top: 0px;
    /* margin-bottom: 10px; */
}
.page-header h1 {
    color: var(--green);
    font-size: 3rem;
    line-height: 250%;
    margin-left: 3rem;
    margin-top: 3rem;
}
.page-header h1 span {
    color: var(--purple);
}

.nav-bar {
    margin-right: 40px;
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
.nav-bar ul {
    list-style-type: none;
    
}

.nav-bar ul li {
    display: inline-block;
    margin-left: 40px;
    
}
.link {
    text-decoration: none;
    font-size:larger;
    color: var(--pink);
    position: relative;
}
.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.subheader {
    /* position: absolute; */
    /* left: 5%; */
    float:left;
    display: block;
    margin-right: 10%;
    padding: 10px;
    color: var(--green);
    width: 200px;
    height: auto;
    text-align: end;
    border-right: 5px solid var(--purple);
}
.about {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    padding: 1rem;
    margin-top: 200px;
    /* margin-left: 4rem; */
    /* margin-right: 4rem; */

}

.about img {
    max-width: 300px;
    max-height: 300px;
    padding: auto;
    border: 10px double var(--pink);

}
.about-me {
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    text-align: justify;
    text-indent: 5%;
    /* border: 2px solid blue; */
    max-width: 550px;
    height: auto;
    padding: 2rem;
}
.about-me::before {
    content: "“";
    font-size: 30px;
    color: var(--dblue);
    
}
.about-me::after {
    content: "”";
    font-size: 30px;
    color: var(--dblue);

}
.work {
    border: 2px solid purple;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 4rem; */
    padding: 1rem;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 600px;
    /* margin-right: 25%;*/
    margin-right: 30%;
    cursor: pointer;
}
.card {
    flex-basis: 50%;
    padding: 0,0;
    opacity: .6;
}
.card:first-child {
    flex-basis: 100%;
}
.card:hover {
    opacity: 1;
    transition: .6s;
    transform: scale(2);
    z-index: 1;

}
.card:hover .project-info {
    opacity: 0;
    transition: .6s ease-in-out;
}

.project-info {
    background-color: white;
    opacity: .8;
    width: fit-content;
    position: relative;
    bottom: 50px;
    z-index: 3;
}
.project-title {
    font-size: larger;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    /* border: 2px solid purple; */
    /* width: 80%%; */
    padding: 1rem;
    margin: auto;
    line-height: 20px;
}
/* .contact h2 {
    display: absolute;
    left:20%;
} */
.contact ul li {
    display: inline;
    padding: 15px;
    list-style-type: none;
    
}

